@import "../../assets/styles/setup/setup";

.contact-us-form-section {
  flex: 0.7;
  padding: 40px;
  padding-inline-end: 80px;
  padding-top: 50px;
  @media screen and(max-width: $tablet-breakpoint) {
    flex: 1;
    padding: 0;
    order: -1;
    margin-bottom: 50px;
  }
}

.contact-us-label {
  &::first-letter {
    text-transform: capitalize;
  }
}

.contact-us-input {
  .Mui-focused {
    fieldset {
      border-color: $clr6 !important;
    }
  }
  .MuiInputBase-input {
    max-height: 300px;
    overflow: auto !important;
  }
}

.contact-us-button {
  &.MuiButtonBase-root {
    padding: 10px 50px;
  }
}
