// Colors
$clr1: #839795;
$clr2: #b5b7b6;
$clr3: #ffffff;
$clr4: #000000;
$clr5: #5c5e5d;
$clr6: #b88e2f;

// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$small-desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1280px;
$wide-desktop-breakpoint: 1440px;

//padding

$mobile-padding: 18px;
